# ignore all files in image folder
Data_Analysis_scripts_ADR/Data_LT254_Sietse/
measurement_draft/Drafting.aux
measurement_draft/Drafting.fdb_latexmk
measurement_draft/Drafting.tex
measurement_draft/Drafting.synctex
measurement_draft/Measurement_Sketch.aux
(Old)Data_Analysis_scripts_ADR/